@charset "UTF-8";

:root
{
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent--white-pg: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
  /* background, headings, buttons */
  --lexend-deca: 'Lexend Deca', sans-serif;
  --lexend-fw: 400;
  --big-shoulders-display: 'Big Shoulders Display', sans-serif;
  --big-shoulders-fw: 700;
}

*,
*:before,
*:after
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.8;
}

html,
body
{
  min-height: 100vh;
  max-width: 375px;
  margin: 0 auto;
  font-size: 15px;
  color: var(--very-light-gray);
  background-color: var(--very-light-gray);
}

#parent-container
{
  padding: 6rem 1rem;
}

#content-container
{
  display: grid;
}

#sedans
{
  background-color: var(--bright-orange);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

#suvs
{
  background-color: var(--dark-cyan);
}

#luxury
{
  background-color: var(--very-dark-cyan);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.container
{
  padding: 4rem;
}

.item-container
{
  display: grid;
  gap: 30px;
}

/* Heading */
.name h2
{
  font-size: 2.5rem;
  font-family: var(--big-shoulders-display);
  font-weight: var(--big-shoulders-fw);
  color: var(--very-light-gray);
  text-transform: uppercase;
}

/* Paragraph & Buttons */
:is(p, button)
{
  font-family: var(--lexend-deca);
  font-weight: var(--lexend-fw);
}

.learn-more button
{
  background-color: var(--very-light-gray);
  border-radius: 40px;
  padding: .8rem 2.5rem;
  border: none;
  cursor: pointer;
}

#sedans-btn
{
  color: var(--bright-orange);
}

#suvs-btn
{
  color: var(--dark-cyan);
}

#luxury-btn
{
  color: var(--very-dark-cyan);
}

/* Button Hover */
.learn-more button:hover {
  background-color: transparent;
  color: var(--very-light-gray) !important;
  outline: 2px solid var(--very-light-gray) !important;
}

/* Desktop Screen */
@media (min-width: 1440px)
{
  html,
  body
  {
    max-width: 1440px !important;
    display: flex !important;
    align-items: center !important;
  }

  #parent-container {
    max-width: 1000px !important;
    margin: 0 auto;
    padding: 0 !important;
  }

  #content-container {
    grid-template-columns: repeat(3, auto) !important;
  }

  .container {
    padding: 4.1rem;
  }

  /* Learn More */
  .learn-more {
    margin-top: 4rem;
  }
}